* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "plus jakarta sans", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

a,
img,
ul,
li,
input,
textarea,
video,
button,
select {
    transition: all 0.3s ease-in-out;
}



/* ==================================================================================================================================== */
/* ==================================================Start the code from here ========================================================= */

/* utility classes  */
.cta {
    padding: 10px 24px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #46388e;
    color: #ffffffad;
    ;
    font-weight: 700;
}

.cta:hover {
    background-color: #0c94cc;
}

.cta-2 {
    padding: 10px 24px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #11a5e2;
    color: #fff;
    font-weight: 700;
}

.cta-2:hover {
    background-color: #46388e;
}

.container-inner {
    max-width: 1000px;
    display: block;
    margin: auto;
}

.transtition {
    transition: all 0.3s ease-in-out;
}

/* utility classes  */
/* header section  */
.h-top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.h-top .ht-1,
.ht-3 {
    background-color: #0c94cc;
    height: 5px;
}

.h-top .ht-2,
.ht-4 {
    background-color: #46388e;
    height: 5px;
}

header {
    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 99;
}

header .h-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 0;
}

header .h-wrap #second {
    display: flex;
    gap: 28px;
}

header .h-wrap #second  > ul {
    display: flex;
    gap: 29px;
    align-items: center;
}

header .h-wrap #second  > ul li a {
    color: #a5aabd;
    font-weight: 600;
    font-size: 15px;
    position: relative;
    transition: all 0.5s ease-in-out;

}

header .h-wrap #second > ul li .active {
    position: relative;
    color: #0c94cc;
}

/* styling the off-canvas menu */

header .h-wrap #second #offcanvas-btn{
    background-color: transparent;
    display: none;
}

header .h-wrap #second #offcanvas-btn i{
    color: white;
    font-size: 41px;
}

header .h-wrap #second .offcanvas .offcanvas-body >ul{
    padding-left: 22px;
}

header .h-wrap #second .offcanvas .offcanvas-body >ul li{
    padding-bottom: 12px;
}

header .h-wrap #second .offcanvas .offcanvas-body >ul li a{
    color: black;
}

header .h-wrap #second .offcanvas .offcanvas-body >ul li a:hover{
    color: rgba(0, 0, 0, 0.655);
}
/* styling the off-canvas menu end */

header .h-wrap #second > ul li a::before {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #0c94cc;
    left: 0;
    top: 24px;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}

header .h-wrap #second > ul li a:hover::before {
    opacity: 1;
}

header .h-wrap #second > ul li .active::before {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #0c94cc;
    left: 0;
    top: 24px;
    right: 0;
    opacity: 1;
}


/* end */

/* hero section  */
#hero {
    height: 100vh;
    width: 100%;
    background: url(../img/bg.png) center center/cover no-repeat;
}

#hero .hero-text-wrap {
    margin-top: 270px;
}

#hero .hero-text-wrap h1 {
    font-size: 43px;
    color: white;
    font-weight: 500;
    margin-bottom: 24px;
    width: 71%;
}

#hero .hero-text-wrap h1 span {
    color: #15a3dd;
    font-weight: 900;
}

#hero .hero-text-wrap p {
    color: #ffffff78;
    font-size: 19px;
    margin-bottom: 27px;
}

/* end */

/* clients section  */
#clients {
    margin: 51px 0;
}

#clients .c-wrap h2 {
    color: #2f246b;
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

#clients .c-wrap h2 span {
    color: #0c94cc;
}

#clients .c-wrap ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#clients .c-wrap ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients .c-wrap ul li img {
    width: 60%;
}

#clients .c-wrap ul li:nth-child(2) img {
    width: 90%;
}

#clients hr {
    margin-top: 41px;
    margin-bottom: 64px;
}

#clients .c-wrap2>h2 {
    font-size: 31px;
    color: #2f246b;
    font-weight: 500;
    text-align: center;
    width: 76%;
    display: block;
    margin: auto;
    margin-bottom: 33px;
    line-height: 50px;
}

#clients .c-wrap2>h2 span {
    color: #11a5e2;
    font-weight: 800;
}

#clients .c-wrap2>p {
    color: #0000008c;
    font-size: 14px;
    text-align: center;
    display: block;
    margin: auto;
    width: 47%;
}

#clients .c-wrap2>p span {
    font-weight: 800;
    color: #000000a8;
}

#process {
    margin-top: 50px;
}

#process .p-list .process-item {
    display: flex;
    gap: 18px;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 26px 21px;
    margin-bottom: 18px;
    border-radius: 10px;
}

#process .p-list .process-item:hover {
    box-shadow: 3px 5.196px 13px 0px rgba(0, 0, 0, 0.21);
    transition: all 0.3s ease-in-out;
}


#process .p-list .process-item .p-img-wrap img {
    width: 80px;
    height: 80px;
}

#process .p-list .process-item .process-text h5 {
    font-size: 16px;
    font-weight: 700;
    color: #2f246b;
    margin-bottom: 12px;
}

#process .p-list .process-item .process-text p {
    font-size: 14px;
}

#process .p-list small {
    color: #666666;
}

#process .p-list .p-img-wrap img {
    margin-left: 34px;
}

/* end  */

/* tabs section  */
#tabs {
    margin: 80px 0;
    background: url(../img/t-bg.png) no-repeat center center/cover;
    padding-top: 64px;
    padding-bottom: 85px;
}



#tabs .tabs-text-wrap>h3 {
    font-size: 31px;
    text-align: center;
    color: white;
    font-weight: 500;
    padding-bottom: 22px;
}

#tabs .tabs-text-wrap>h3 span {
    font-weight: 800;
    color: #11a5e2;
}

#tabs .tabs-text-wrap>p {
    text-align: center;
    color: #ffffff8c;
    padding-bottom: 50px;
    width: 74%;
    display: block;
    margin: auto;
}

#tabs .tabs-wrap #tabs-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#tabs .tabs-wrap #tabs-btn li .tab-links {
    padding: 12px 36px;
    border-radius: 7px 7px 0 0;
    background-color: #666666;
    transition: none;
    color: white;
}

#tabs .tabs-wrap #tabs-btn li .active {
    padding: 12px 36px;
    border-radius: 7px 7px 0 0;
    background-color: #11a5e2;
    position: relative;
    z-index: 1;
}

#tabs .tabs-wrap #tabs-btn li .active::after {
    content: '';
    position: absolute;
    background-color: #11a5e2;
    height: 30px;
    width: 30px;
    transform: rotate(45deg);
    z-index: -1;
    top: 50%;
    left: 50%;
    margin-top: 0px;
    margin-left: -15px;
}



#tabs .tabs-wrap .tab-content .t-c-wrap h3 {
    font-size: 24px;
    font-weight: 600;
    color: #2f246b;
    width: 85%;
    margin-bottom: 27px;
}

#tabs .tabs-wrap .tab-content .t-c-wrap h3 span {
    font-weight: 800;
    color: #11a5e2;
}

#tabs .tabs-wrap .tab-content .t-c-wrap p {
    margin-bottom: 15px;
    font-size: 15px;
    color: #000000bf;
}

#tabs .tabs-wrap .tab-content .t-c-wrap ul li {
    font-size: 14px;
    margin-bottom: 15px;
}

#tabs .tabs-wrap .tab-content .t-c-wrap ul li i {
    font-size: 18px;
    color: #11a5e2;
}


#tabs .tabs-wrap .tab-content {
    background-color: white;
    border-radius: 8px;
    padding: 47px 45px;
}


.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* end */


/* optimize and transform section  */
#optimize {
    margin-bottom: 85px;
}

#optimize .ot-heading {
    text-align: center;
}

#optimize .ot-heading h3 {
    font-size: 31px;
    color: var(--primaryColor);
    font-weight: 500;
    padding-bottom: 25px;
    padding-top: 13px;
}

#optimize .ot-heading h3 span {
    color: var(--accentColor);
    font-weight: 800;
}

#optimize .ot-heading p {
    width: 70%;
    display: block;
    margin: auto;
    font-size: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.839);
    padding-bottom: 50px;
}




#optimize .ot-list-1 .ot-1-item {
    background-color: white;
    padding: 15px 12px;
    border-radius: 8px;
    margin-bottom: 40px;
}

#optimize .ot-list-1 .ot-1-item:hover {
    box-shadow: 3.5px 6.062px 22px 0px rgba(0, 43, 61, 0.12);
}


#optimize .ot-list-1 .ot-1-item:nth-child(2) .ot-text-wrap {
    padding-left: 32px;
}


#optimize .ot-list-1 .ot-1-item .ot-text-wrap h3 {
    font-size: 24px;
    font-weight: 600;
    color: #2f246b;
    width: 85%;
    margin-bottom: 22px;
    padding-top: 20px;
}

#optimize .ot-list-1 .ot-1-item:nth-child(2) .ot-text-wrap h3 {
    line-height: 1.346;
}

#optimize .ot-list-1 .ot-1-item .ot-text-wrap h3 span {
    font-weight: 800;
    color: #11a5e2;
}

#optimize .ot-list-1 .ot-1-item .ot-text-wrap p {
    margin-bottom: 10px;
    font-size: 15px;
    color: #000000bf;
}

#optimize .ot-list-1 .ot-1-item .ot-text-wrap ul li {
    font-size: 14px;
    margin-bottom: 2px;
}

#optimize .ot-list-1 .ot-1-item .ot-text-wrap ul li i {
    font-size: 18px;
    color: #11a5e2;
}

#optimize .ot-list-1 .ot-1-item .ot-text-wrap button {
    margin: 17px 0;
}

#optimize .ot-list-1 .ot-1-item .img-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0  0 !important;
}

#optimize .ot-list-1 .ot-1-item .img-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0  0 !important;
}


#optimize .ot-list-2 {
    margin: 100px 0;
}

#optimize .ot-list-2 .ot-2-item {
    padding: 32px 32px;
    border-radius: 8px;
    position: relative;
}

#optimize .ot-list-2 .ot-2-item:nth-child(1) {
    background-color: var(--accentColor);
}

#optimize .ot-list-2 #first::after {
    content: '01';
    position: absolute;
    top: 1%;
    right: 5%;
    font-size: 72px;
    color: white;
    font-weight: 900;
    opacity: 0.4;
}



#optimize .ot-list-2 .ot-2-item img {
    padding-bottom: 33px;
}

#optimize .ot-list-2 .ot-2-item .ot-2-wrap h3 {
    padding-bottom: 27px;
    font-size: 21px;
    font-weight: 700;
    color: white;
}

#optimize .ot-list-2 .ot-2-item .ot-2-wrap ul li {
    font-size: 15px;
    font-weight: 500;
    color: #ffffffcf;
    padding-bottom: 6px;

}

#optimize .ot-list-2 .ot-2-item .ot-2-wrap ul li i {
    color: var(--primaryColor);
    font-size: 18px;
}



#optimize .ot-list-2 #second {
    background-color: #0d1b43;
}

#optimize .ot-list-2 #second::after {
    content: '02';
    position: absolute;
    top: 1%;
    right: 5%;
    font-size: 72px;
    color: white;
    font-weight: 900;
    opacity: 0.4;
}

#optimize .ot-list-2 #second .ot-2-wrap ul li i {
    color: var(--accentColor);
    font-size: 18px;
}


#optimize .ot-list-2 #third {
    background-color: #2e2174;
}

#optimize .ot-list-2 #third::after {
    content: '03';
    position: absolute;
    top: 1%;
    right: 5%;
    font-size: 72px;
    color: white;
    font-weight: 900;
    opacity: 0.4;
}

#optimize .ot-list-2 #third .ot-2-wrap ul li i {
    color: var(--accentColor);
    font-size: 18px;
}

/* end  */

/* testimonial section  */
#testimonial {
    background: url(../img/t-bg.png) no-repeat center center/cover;
    padding: 72px 0;
}

#testimonial .t-heading {
    text-align: center;
}

#testimonial .t-heading h3 {
    color: white;
    font-weight: 500;
    font-size: 31px;
    padding-bottom: 23px;
}

#testimonial .t-heading h3 span {
    color: var(--accentColor);
    font-weight: 800;
}

#testimonial .t-heading p {
    color: #ffffffab;
    display: block;
    margin: auto;
    width: 75%;
    padding-bottom: 50px;
}


#testimonial .t-list .t-item {
    background-color: white;
    border-radius: 7px;
    padding: 30px 38px;
}

#testimonial .t-list .t-item .icon-wrap {
    padding-bottom: 22px;
}

#testimonial .t-list .t-item .icon-wrap i {
    font-size: 22px;
    color: #e1ba20;
    margin: 0 3px;
}

#testimonial .t-list .t-item .icon-wrap i:nth-child(1) {
    margin-left: 0;
}

#testimonial .t-list .t-item .t-para p {
    /* width: 50%; */
    line-height: 1.643;
    padding-bottom: 25px;
    color: #666666;
}

#testimonial .t-list .t-item .t-info h5 {
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 5px;
}

#testimonial .t-list .t-item .t-info p {
    font-size: 15px;
    font-weight: 500;
    color: #666666;
}

/* styling owl carousel  */
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 45px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--accentColor);
}

.owl-theme .owl-dots .owl-dot span {
    background: #48516a;
}

/* styling owl carousel end */
/* end  */


/* zPass section  */

#zPass {
    margin: 65px 0;
}

#zPass .z-heading {
    text-align: center;
    padding-bottom: 50px;
}

#zPass .z-heading h2 {
    font-size: 31px;
    color: var(--primaryColor);
    font-weight: 500;
    padding-bottom: 22px;
}

#zPass .z-heading h2 span {
    color: var(--accentColor);
    font-weight: 800;
}

#zPass .z-heading p {
    font-size: 16px;
    color: #000000a6;
}

#zPass .z-list {
    width: auto;
    margin: auto;
}

#zPass .z-list .z-item {
    background-color: white;
    padding: 29px;
    border-radius: 8px;
}

#zPass .z-list .z-item:hover {
    box-shadow: 3px 5.196px 13px 0px rgba(0, 43, 61, 0.38);
    cursor: pointer;

}

#zPass .z-list .z-item img {
    width: auto;
    margin: auto;
    padding-bottom: 25px;
}

#zPass .z-list .z-item h4 {
    text-align: center;
    font-weight: 700;
    color: var(--primaryColor);
}

.owl-carousel .owl-stage-outer {
    padding-bottom: 33px;
    padding-top: 7px;
}

/* styling owl carousel  */
#zPass .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 0;
}

#zPass .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--accentColor);
}

#zPass .owl-theme .owl-dots .owl-dot span {
    background: #e0e0e0;
}

/* styling owl carousel  */

#zPass .z-bottom {
    margin-top: 56px;
}

#zPass .z-bottom h5 {
    color: var(--primaryColor);
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    margin-bottom: 22px;
}

#zPass .z-bottom button {
    display: block;
    margin: auto;
}

/* end  */


/* blockchain section  */
#blockchain {
    background-color: var(--accentColor);
    padding: 40px 0;
}

#blockchain .blc-wrap {
    display: flex;
    justify-content: space-between;
}

#blockchain .blc-left {
    display: flex;
    gap: 18px;
    width: 73%;

}

#blockchain .blc-left .blc-text {}

#blockchain .blc-left .blc-text h2 {
    color: white;
    font-size: 31px;
    font-weight: 500;
    padding-bottom: 21px;
}

#blockchain .blc-left img {
    width: 190px;
}

#blockchain .blc-left .blc-text h2 span {
    font-weight: 800;
}

#blockchain .blc-left .blc-text p {
    font-weight: 500;
    font-size: 19px;
    color: #ffffffa3;
}

#blockchain .blc-right {
    display: block;
    margin: auto;
}

#blockchain .blc-right .cta {
    font-size: 18px;
    background-color: #2c2166;
    padding: 10px 35px;
    color: white;
}

#blockchain .blc-right .cta:hover {
    background-color: #3f2f91;
}

/* end  */

/* footer section  */
footer {
    background: url(../img/f-bg.png) no-repeat center center/cover;
    padding-top: 70px;
}

footer #first p {
    color: #ffffffc2;
    padding-top: 31px;
    font-size: 14px;
    width: 80%;
    line-height: 1.928;

}

footer #first>ul li {
    color: #ffffffc2;
    line-height: 1.928;

}

footer #first>ul li a {
    color: #ffffffc2;
    font-size: 14px;
}

footer #first>ul li a:hover {
    color: white;
}

footer #first .social-links {
    padding-top: 31px;
}

footer #first .social-links ul {
    display: flex;
    gap: 21px;
    align-items: center;
}

footer #first .social-links ul li i:hover {
    color: #d8d8d8;
    cursor: pointer;
}

footer #first .social-links ul li i {
    color: white;
    font-size: 23px;
}

footer #first .social-links ul li:nth-child(1) {
    background-color: white;
    padding: 4px 9px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer #first .social-links ul li:nth-child(1):hover {
    background-color: #d8d8d8;
}

footer #first .social-links ul li:nth-child(1) i {
    color: black;
    font-size: 14px;
}

footer #second h4 {
    color: white;
    font-size: 17px;
}

footer #second>ul {
    padding-top: 33px;
}

footer #second>ul li {
    padding-bottom: 6px;
}

footer #second>ul li a {
    color: #ffffffc2;
    font-size: 14px;
}

footer #second>ul li a:hover {
    color: white;
}





footer #third h4 {
    color: white;
    font-size: 17px;
}

footer #third>ul {
    padding-top: 33px;
}

footer #third>ul li {
    padding-bottom: 6px;
}

footer #third>ul li a {
    color: #ffffffc2;
    font-size: 14px;
}

footer #third>ul li a:hover {
    color: white;
}

footer .f-bottom {
    /* background-color: tomato; */
    margin-top: 141px;
    padding-bottom: 38px;
}

footer .f-bottom hr {
    color: white;
}

footer .f-bottom p {
    color: #ffffffc2;
    text-align: center;
    font-size: 12px;
    padding-top: 12px;
}


footer .f-bottom p a {
    color: #ffffffc2;
    font-weight: 500;
}

/* end  */